@import "tailwindcss";

:root {
  /*  =======================
      Brand 
      ======================= */
  --primary: #4f39f6;
  --primary-hover: #4338ca;
  --primary-foreground: #ffffff;
}




/* :root {
  --color-background: #ffffff;
  --color-foreground: #18181b;

  --color-primary: #4f39f6;
  --color-primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

:root {
  --color-red-400: lab(63.7053% 60.7449 31.3109);
  --color-red-500: lab(55.4814% 75.0732 48.8528);
  --color-orange-400: lab(70.0429% 42.5156 75.8207);
  --color-orange-600: lab(57.1026% 64.2584 89.8886);
  --color-amber-400: lab(80.1641% 16.6016 99.2089);
  --color-yellow-300: lab(89.7033% -0.480324 84.4917);
  --color-yellow-400: lab(83.2664% 8.65132 106.895);
  --color-yellow-500: lab(76.3898% 14.5258 98.4589);
  --color-green-400: lab(78.503% -64.9265 39.7492);
  --color-green-600: lab(59.0978% -58.6621 41.2579);
  --color-emerald-400: lab(75.0771% -60.7313 19.4146);
  --color-cyan-400: lab(76.6045% -40.9406 -29.6231);
  --color-cyan-600: lab(55.1767% -26.7496 -30.5138);
  --color-blue-400: lab(65.0361% -1.42062 -56.9803);
  --color-blue-500: lab(54.1736% 13.3368 -74.6839);
  --color-blue-600: lab(44.0605% 29.0279 -86.0352);
  --color-blue-700: lab(36.9089% 35.0961 -85.6872);
  --color-indigo-50: lab(95.4818% 0.411302 -6.78529);
  --color-indigo-100: lab(91.6577% 1.04591 -12.7199);
  --color-indigo-200: lab(84.4329% 3.18974 -23.9688);
  --color-indigo-400: lab(59.866% 22.4833 -64.4485);
  --color-indigo-500: lab(48.295% 38.3129 -81.9673);
  --color-indigo-600: lab(38.4009% 52.6132 -92.3857);
  --color-purple-100: lab(93.3333% 6.9744 -9.83434);
  --color-purple-400: lab(63.6946% 47.6127 -59.2066);
  --color-purple-500: lab(52.0183% 66.11 -78.2316);
  --color-purple-600: lab(43.0295% 75.21 -86.5669);
  --color-purple-700: lab(36.1758% 69.8525 -80.0381);
  --color-pink-400: lab(64.5597% 64.3615 -12.7988);
  --color-rose-600: lab(49.1882% 81.577 36.0311);
  --color-slate-300: lab(84.7652% -1.94535 -7.93337);
  --color-slate-400: lab(65.5349% -2.25151 -14.5072);
  --color-slate-500: lab(48.0876% -2.03595 -16.5814);
  --color-slate-700: lab(26.9569% -1.47018 -15.6993);
  --color-slate-800: lab(16.132% -0.318021 -14.6672);
  --color-slate-900: lab(7.78673% 1.82346 -15.0537);
  --color-slate-950: lab(1.76974% 1.32743 -9.28855);
  --color-gray-50: lab(98.2596% -0.247031 -0.706708);
  --color-gray-100: lab(96.1596% -0.082314 -1.13575);
  --color-gray-200: lab(91.6229% -0.159085 -2.26791);
  --color-gray-300: lab(85.1236% -0.612259 -3.7138);
  --color-gray-400: lab(65.9269% -0.832707 -8.17474);
  --color-gray-500: lab(47.7841% -0.393212 -10.0268);
  --color-gray-600: lab(35.6337% -1.58697 -10.8425);
  --color-gray-700: lab(27.1134% -0.956401 -12.3224);
  --color-gray-900: lab(8.11897% 0.811279 -12.254);
  --color-gray-950: #010712;
} */
